---
import { about } from "../data/data.json";
import HoverReveal from "./HoverReveal.astro";
import SectionTitle from "./SectionTitle.astro";
---

<section id="about" class="h-card" itemscope itemtype="https://schema.org/Person">
  <div class="text">
    <p class="name p-name" itemprop="name" >{about.paragraphs[0]}</p>

    <p class="p-summary" itemprop="description">
      {about.paragraphs[1].split("Data Enthusiast")[0]}
      {about.paragraphs[1].split("Data Enthusiast")[1]}{" "}
    </p>
    <div class="reflection">
      {about.reflection.paragraphs.map((para) => (
        <p>{para}</p>
      ))}
    </div>
    <div class="social-media p-contact">
      {
        about.social.map((item) => (
            <a
                itemprop="contactPoint"
                href={item.link}
                target="_blank"
                id={item.name}
                data-static-icon={item.icon}
                class="social-item"
                style=`background-image:url('${item.icon}'); `
                title={`Link to my ${item.name}`}
            ></a>
        ))
      }
    </div>
  </div>


  <div class="picture">
    <img src="asset/imgs/mel.jpg" class="image" itemprop="image" />
  </div>


  <SectionTitle
    text="Work Experience"
    color="var(--reddish-orange-color)"
    hrefLink="#work"
    beckon="true"
    position="center"
  />
</section>

<style>
  #about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    perspective: 10000px;
    gap: 5%;
    min-height: 90vh;
    margin-left: 2rem;
    overflow: hidden;
  }
  .social-media {
    display: flex;
    gap: 1rem;
  }
  .social-item{
    background-size:cover; 
    background-position: center center;
    width: 50px;
    height:50px; 
    border-radius: 48px;
    border: 1px solid #fff1;
  }
  .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.5rem;
    cursor: alias;
    margin-top: 5%;
    flex: 1 1 50%;
    min-width: 320px;
    max-width: 600px;
  }
  .name {
    font-size: 3.75rem;
    line-height: 2rem;
    color: rgba(86, 92, 86, 0.87);
    text-transform: none !important;
    letter-spacing: normal !important;
    font-variant: normal !important;
    font-variant-caps: normal !important;
    font-weight: bold;
  }
  .gifText {
    color: var(--blue-color);
    font-weight: 700;
  }
  .picture {
    position: relative;
    flex: 1 1 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 250px;
    max-width: 50%;
    width: 50%;
    height: auto;
    max-height: 80vh;
    overflow: visible;
  }
  .image {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 50%;
    object-fit: contain;
    padding: 2rem;
    border-radius: 30px;
    box-sizing: border-box;
    display: block;
  }
  .portal {
    height: 45rem;
    position: absolute;
    z-index: -1;
    bottom: -15%;
    left: 50%;
    transform: rotate(90deg) rotateY(80deg);
    transform-style: preserve-3d;
  }
  .title {
    font-size: 2rem;
  }

  /* Responsive */
  @media (max-width: 575px) {
    #about {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 10%;
      margin-bottom: 0;
    }
    .text{
      line-height: 2rem;
    }
    .text p{
      max-width: 90%;
    }
    .text p:first-child{
      line-height: 3rem;
    }
    .picture {
      align-self:center;
      margin-right: 3rem;
    }
    .picture img{
      padding: 0;
      margin: 0;
      top:0;
      transform: scale(.9);
    }
    .portal {
      display: none;
    }
  }

  @media (min-width: 576px) and (max-width: 991px) {
    #about {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      margin-left: 0;
    }
    .text {
      margin-top: 2rem;
      max-width: 90vw;
    }
    .picture {
      max-width: 90vw;
      min-width: 200px;
    }
    .image {
      padding: 1rem;
      max-height: 50vh;
    }
    .portal {
      display: none;
    }
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    .name{
      line-height: 3rem;
    }
    .picture{
      right: -3rem
    }
    .portal{
      width: 500px;
      left: 35%;
    }
  }
  
  @media (max-width: 320px) {
    .name{
      line-height: 3rem;
    }
    .picture{
      right: -3rem;
      transform: scale(.5)
    }
    .portal{
      width: 50px;
      left: 35%;
    }
  }
</style>

<script>
  const social = document.querySelector(".social-media");
  social.querySelectorAll("a").forEach((element) => {
    element.addEventListener("mouseenter", (e) => {
      let image = element.getAttribute("data-static-icon");
      element.style.backgroundImage = `url('${image}')`;
    });
    element.addEventListener("mouseleave", (e) => {
      let image = element.getAttribute("data-static-icon");
      element.style.backgroundImage = `url('${image}')`;
    });
  });
</script>